body {
  margin: 0;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#root {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #ddd;
}
.page-body {
  margin: 0.75rem;
  background: white;
  flex-grow: 1;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
}

h1 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.page-footer,
.page-header {
  display: inline;
  background-color: #371769;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.page-footer {
  padding: 0.75rem 1rem;
}
.title {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

nav {
  display: flex;
  align-items: center;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  padding: 1rem 1.25rem;
}

.nav-menu a.active {
  color: black;
  background-color: #e9c5ee;
}

.users-header {
  display: flex;
  margin-bottom: 1rem;
}

input.search-users {
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  flex-grow: 1;
  margin-left: 3rem;
}

.user {
  display: flex;
  align-items: center;
  background-color: #ededed;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: black;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-details img {
  width: 8rem;
  height: 8rem;
  background-color: #efefef;
  border-radius: 50%;
  border: 0.0625rem solid #ccc;
}
.go-back {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 0;
  background-color: #371769;
  color: white;
  border-radius: 0.25rem;
  transition: all 200ms ease-in-out;
  margin-top: 1rem;
}
